.sidebar {
  margin-top: 80px!important;
}

.m-t-sm { margin-top: .5em; }
.m-r-sm { margin-right: .5em; }
.m-b-sm { margin-bottom: .8em; }

.required {
  color: red;
}

.dataview table, th, td {
  border: 1px solid gray;
  border-collapse: collapse;
}
.dataview table, th, td {
  padding: 5px;
  text-align: left;
}